:root {
  --text: #ffffff;
  --background: #000000;
  --primary: #ff5e00;
  --secondary: #bdbdbd;
  --accent: #2450ff;
}

* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(#2c2c2c, #1c1c1c);
}

.text-primary {
  color: var(--primary);
}

.bg-primary {
  background-color: var(--primary);
}

.text-secondary {
  color: var(--secondary);
}

.bg-accent {
  background-color: var(--accent);
}

.bg-dark {
  background: linear-gradient(#2c2c2c, #1c1c1c);
}

.bg-gradiant {
  background-image: url(../images/gradiant-backdrop.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* ================ Header ====================== */

.lib {
  color: var(--text);
}

.lib:hover {
  color: var(--primary);
}

/* Highlight Input in Searchbar & hover effect */
.autoFill:hover {
  background-color: var(--secondary);
  cursor: pointer;
  color: black;
}

.highlight {
  color: var(--accent);
}

#search-input {
  border-radius: 10px;
}

#search-input:focus {
  outline: none;
}

/* Carousel */
.movie-cards {
  background-position: center;
  background-size: cover;
}

.blade-runner {
  background-image: url(../images/Posters/Blade_Runner_2049/blade-runner-poster.jpg);
}

/* .hover-effect:hover {
  --tw-scale-x: 1.1;
  --tw-scale-y: 1.1;
} */

.target-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)),
    url(../images/stock-backdrop.png);
  background-position: center;
  background-size: cover;
}

.bg-opacity {
  background: rgba(0, 0, 0, 0.5);
}